# Backend
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority
SECRET_KEY=change-this-to-a-long-random-string
FLASK_ENV=development

# Frontend
VITE_API_URL=http://localhost:5000
